# IP y PUERTO para conectarse a la memoria
IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8433

PUERTO_ESCUCHA=8123

# SJF o HRRN
ALGORITMO_PLANIFICACION=SJF

# Toma valores de 0 a 100
ALFA=1
ESTIMACION_INICIAL=1000

DISPOSITIVOS_IO=[laguna]
DURACIONES_IO=[2500]

RETARDO_CPU=10000

GRADO_MULTIPROGRAMACION=8
GRADO_MULTIPROCESAMIENTO=8

TIEMPO_DEADLOCK=50000

LOG_ROUTE=./planificador.log
LOG_APP_NAME=Kernel
LOG_IN_CONSOLE=1
LOG_LEVEL_INFO=2
