# IP y PUERTO para conectarse a la memoria
IP_MEMORIA=127.0.0.1
PUERTO_MEMORIA=8081

PUERTO_ESCUCHA=7999

# SJF o HRRN
ALGORITMO_PLANIFICACION=HRRN

# Toma valores de 0 a 100
ALFA=50
ESTIMACION_INICIAL=15

DISPOSITIVOS_IO=[laguna, hierbitas]
DURACIONES_IO=[25000, 1000]

RETARDO_CPU=10000

GRADO_MULTIPROGRAMACION=4
GRADO_MULTIPROCESAMIENTO=2


LOG_ROUTE=./planificador.log
LOG_APP_NAME=Kernel
LOG_IN_CONSOLE=1
LOG_LEVEL_INFO=2
