# PUERTO donde levanta el servidor
PUERTO=8433

# Tamaño expresado en bytes del tamaño de la memoria
TAMANIO= 96

# Tamaño expresado en bytes del tamaño de la memoria
TAMANIO_PAGINA=32

# Modo de asignación de marcos
# FIJA / DINAMICA
TIPO_ASIGNACION=DINAMICA

# Cantidad máxima de marcos a asignarle a un proceso
MARCOS_MAXIMOS=2

# Algoritmo de reemplazo de páginas
ALGORITMO_REEMPLAZO_MMU=CLOCK-M

# Cantidad de entradas que almacenará la TLB
CANTIDAD_ENTRADAS_TLB=3

# Algoritmo de reemplazo de la TLB
# FIFO / LRU
ALGORITMO_REEMPLAZO_TLB=LRU

# Tiempo en milisegundos que deberá esperar una petición ante un acierto en la TLB 
# Puede ser 0
RETARDO_ACIERTO_TLB=100

# Tiempo en milisegundos que deberá esperar una petición ante un fallo en la TLB
# Puede ser 0
RETARDO_FALLO_TLB=1000

PATH_DUMP_TLB=./dumps/


LOG_ROUTE=./ram.log
LOG_APP_NAME=Memoria
LOG_IN_CONSOLE=1
LOG_LEVEL_INFO=0
