IP=10.108.16.2
PUERTO=8433

TAMANIO_SWAP=4096
TAMANIO_PAGINA=16

ARCHIVOS_SWAP=[/home/utnso/swap1.bin]

MARCOS_MAXIMOS=10
RETARDO_SWAP=500

# RAM (FIJA) => SWAP (FIJA)
# RAM (DINAMICA) => SWAP (GLOBAL)
TIPO_ASIGNACION=FIJA

LOG_ROUTE=./filesystem.log
LOG_APP_NAME=SWAMP
LOG_IN_CONSOLE=1
LOG_LEVEL_INFO=0

