IP_MEMORIA=10.108.16.2
PUERTO_MEMORIA=8433

PUERTO_ESCUCHA=8123

# SJF o HRRN
ALGORITMO_PLANIFICACION=HRRN

# Toma valores de 0 a 100. A cualquier valor que pasen en el test multiplicarlo por 100
ALFA=30

DISPOSITIVOS_IO=[pelopincho]
DURACIONES_IO=[2000]

GRADO_MULTIPROGRAMACION=3
GRADO_MULTIPROCESAMIENTO=1

TIEMPO_DEADLOCK=50000

ESTIMACION_INICIAL=2000

LOG_ROUTE=./planificador.log
LOG_APP_NAME=Kernel
LOG_IN_CONSOLE=1
LOG_LEVEL_INFO=2


